<clr-modal [(clrModalOpen)]="open">
  <h3 class="modal-title">Error</h3>
  <div class="modal-body">
    <div [ngSwitch]="error.message">
      <span *ngSwitchCase="'TimeoutError'">Server nicht erreichbar. Bitte prüfen Sie ihre Internetverbindung.</span>
      <span *ngSwitchCase="'UNKNOWN_GAME'">Dieses Spiel existiert nicht.</span>
      <span *ngSwitchCase="'MOVE_NOT_ALLOWED'">Dieser Zug ist nicht erlaubt.</span>
      <span *ngSwitchDefault>Unbekannter Fehler: {{error.message}}</span>
    </div>
  </div>
  <div class="modal-footer">
    <div *ngIf="error.critical; else notCritical">
      <button type="button" class="btn btn-primary" (click)="reload()">Retry</button>
      <button type="button" class="btn btn-outline" (click)="dismiss()">Back to Overview</button>
    </div>
    <ng-template #notCritical>
      <button type="button" class="btn btn-primary" (click)="dismiss()">Dismiss</button>
    </ng-template>
  </div>
</clr-modal>

