<nb-card>
  <nb-card-header>Error</nb-card-header>
  <nb-card-body>
    <div [ngSwitch]="error.message">
      <span *ngSwitchCase="'TimeoutError'">Server nicht erreichbar. Bitte prüfen Sie ihre Internetverbindung.</span>
      <span *ngSwitchCase="'UNKNOWN_GAME'">Dieses Spiel existiert nicht.</span>
      <span *ngSwitchCase="'MOVE_NOT_ALLOWED'">Dieser Zug ist nicht erlaubt.</span>
      <span *ngSwitchDefault>Unbekannter Fehler: {{error.message}}</span>
    </div>
  </nb-card-body>
  <div *ngIf="error.critical; else notCritical">
    <nb-card-footer>
      <button nbButton (click)="reload()">Retry</button>
      <button nbButton (click)="dismiss()">Back to Overview</button>
    </nb-card-footer>
  </div>
  <ng-template #notCritical>
    <nb-card-footer>
      <button nbButton status="primary" (click)="dismiss()">Dismiss</button>
    </nb-card-footer>
  </ng-template>
</nb-card>

