.tac-field {
  border: #000000 solid 1px;
  border-radius: 50%;
  background-color: white;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: inline-block;
  padding: -1px;
}
.tac-field.highlighted {
  border-color: darkcyan;
}

.start-field.player-0 {
  border-color: blueviolet;
}

.start-field.player-1 {
  border-color: blue;
}

.start-field.player-2 {
  border-color: red;
}

.start-field.player-3 {
  border-color: limegreen;
}
