<img hidden id="marble0" [src]="'assets/marbles/black.png'" (load)="draw(false)">
<img hidden id="marble1" [src]="'assets/marbles/blue.png'" (load)="draw(false)">
<img hidden id="marble2" [src]="'assets/marbles/green.png'" (load)="draw(false)">
<img hidden id="marble3" [src]="'assets/marbles/red.png'" (load)="draw(false)">

<div class="img-map" #container (window:resize)="draw(true)">
  <img #image [src]="'assets/board.jpg'" (load)="draw(true)">
  <canvas #canvas (click)="onClick($event)" (mousemove)="onMousemove($event)" (mouseout)="onMouseout()"></canvas>
</div>
