<div class="board-container" *ngIf="board">
  <tac-base [base]="board.bases[3]" class="one" (clickBase)="clickedBase(board.bases[3])"></tac-base>
  <tac-base [base]="board.bases[0]" class="two" (clickBase)="clickedBase(board.bases[0])"></tac-base>
  <tac-base [base]="board.bases[1]" class="three" (clickBase)="clickedBase(board.bases[1])"></tac-base>
  <tac-base [base]="board.bases[2]" class="four" (clickBase)="clickedBase(board.bases[2])"></tac-base>

  <div class="track-container">
    <tac-field *ngFor="let field of board.track" [field]="field" (clickField)="clicked(field)"></tac-field>
  </div>

</div>
