.board-container {
  margin: 0 auto;
  position: relative;
}

tac-base.one {
  position: absolute;
  top: 0;
  left: 0;
}

tac-base.two {
  position: absolute;
  top: 0;
  left: 575px;
}

tac-base.three {
  position: absolute;
  top: 575px;
  left: 575px;
}

tac-base.four {
  position: absolute;
  top: 575px;
  left: 0;
}
