<div class="row">
  <div class="col-md-3">
    <div *ngIf="game">
      <tac-player [playernumber]="2" [cards]="game.cards[2]" [turn]="game.turn === 2" (playCard)="playCard($event)"></tac-player>
      <tac-player [playernumber]="1" [cards]="game.cards[1]" [turn]="game.turn === 1" (playCard)="playCard($event)"></tac-player>
    </div>

    <div>
      <button (mouseover)="showLastTurn()" (mouseout)="hideLastTurn()">Letzten Zug zeigen</button>
    </div>

    <h3 *ngIf="game && game.currentCard">Mögliche Aktionen für <span class="label label-default">{{game.currentCard}}</span></h3>

    <div *ngIf="pickMarbleResolve">
      <span class="label label-primary">Kugel auswählen</span>
    </div>
    <div *ngIf="pickFieldResolve">
      <span class="label label-primary">Feld auswählen</span>
    </div>

    <div *ngIf="pressButtonResolve">
      <button (click)="buttonPressed()">{{buttonText}}</button>
    </div>

    <div *ngIf="chooseCardDevilResolve">
      Wähle eine Karte des nächsten Spielers
      <tac-card *ngFor="let card of game.cards[(game.turn + 1) % 4]" [card]="card" (playCard)="cardChosen(card)"></tac-card>
    </div>

    <button *ngIf="game && game.currentCard" (click)="doAction()">Auswahl zurücksetzen</button>

  </div>
  <img-map class="col-md-6" *ngIf="game" [board]="game.board" [currentCard]="game.currentCard" [specialMarbles]="specialMarbles" (clickField)="fieldPicked($event)" (clickMarble)="marblePicked($event)" #board></img-map>

  <div class="col-md-3">
    <div *ngIf="game">
      <tac-player [playernumber]="3" [cards]="game.cards[3]" [turn]="game.turn === 3" (playCard)="playCard($event)"></tac-player>
      <tac-player [playernumber]="0" [cards]="game.cards[0]" [turn]="game.turn === 0" (playCard)="playCard($event)"></tac-player>
    </div>

  </div>
</div>
