.player0 {
  color: black;
  font-weight: bold;
}

.player1 {
  color: blue;
  font-weight: bold;
}

.player2 {
  color: lime;
  font-weight: bold;
}

.player3 {
  color: red;
  font-weight: bold;
}

.label {
  cursor: default;
}
