<div class="row">
  <button (click)="router.navigate([''])">Zurück zur Übersicht</button>
</div>

<div class="row">
  <div class="col-md-30">
    <div *ngIf="game">
      <div  *ngFor="let cards of game.cards; index as playernumber">
        <h3 [ngClass]="'player' + playernumber">Spieler {{playernumber + 1}}
            <span class="label label-default"*ngIf="playernumber == game.turn">Am Zug</span>
        </h3>

          <tac-card *ngFor="let card of cards" [card]="card" (playCard)="playCard($event)"></tac-card>
      </div>
    </div>
    <h3 *ngIf="game && game.currentCard">Mögliche Aktionen für <span class="label label-default">{{game.currentCard}}</span></h3>

    <div *ngIf="pickMarbleResolve">
      <span class="label label-primary">Kugel auswählen</span>
    </div>
    <div *ngIf="pickFieldResolve">
      <span class="label label-primary">Feld auswählen</span>
    </div>

    <div *ngIf="pressButtonResolve">
      <button (click)="buttonPressed()">{{buttonText}}</button>
    </div>

    <div *ngIf="chooseCardDevilResolve">
      Wähle eine Karte des nächsten Spielers
      <tac-card *ngFor="let card of game.cards[(game.turn + 1) % 4]" [card]="card" (playCard)="cardChosen(card)"></tac-card>
    </div>

    <button *ngIf="game && game.currentCard" (click)="doAction()">Auswahl zurücksetzen</button>

  </div>

  <img-map class="col-md-50" *ngIf="game" [board]="game.board" [currentCard]="game.currentCard" (clickField)="fieldPicked($event)" (clickMarble)="marblePicked($event)" #board></img-map>
</div>

