.tac-stone {
  border: #000000 solid 0.75em;
  border-radius: 50%;
  background-color: white;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.tac-stone.one {
  border-color: black;
}

.tac-stone.two {
  border-color: blue;
}

.tac-stone.three {
  border-color: red;
}

.tac-stone.four {
  border-color: limegreen;
}
